<a href="https://colab.research.google.com/github/fakhar-iqbal/Machine_Learning_Fundamentals/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d = lambda x: x*5
l = [d(x) for x in range(0,10)]
l

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
def appl(fx,val):
  return 6+ fx(val)

In [ ]:
appl(d,5)

31

In [ ]:
appl = lambda f,val: 6+ f(val)

In [ ]:
appl(d,5)

31

In [ ]:
appl(lambda x:x*x,5)

31

In [ ]:
def cube(x):
  return x*x*x

In [ ]:
### map function

l = [1,2,3,4,5,6,6,7]
newl = list(map(cube,l))
newl

[1, 8, 27, 64, 125, 216, 216, 343]

In [ ]:
def rog(x):
  return x+x+x

In [ ]:
li = [1,2,3,4,5,6,7,7,8]
newl = list(map(rog,li))
newl

[3, 6, 9, 12, 15, 18, 21, 21, 24]

In [ ]:
def gr(x):
  return x>4

In [ ]:
newl = list(map(gr,li))
newl

[False, False, False, False, True, True, True, True, True]

In [ ]:
newl = list(filter(lambda x: x<5, li))
newl

[1, 2, 3, 4]

In [ ]:
from functools import reduce

sum = reduce(lambda x,y: x-y,li)
sum

-41

#**AI LAB**

In [ ]:
l = [1,2,3,4,5]
b = [3,4,2,4,2]

# for i in range(len(b)):
#   l.append(b[i])

# l
l.extend(b)
l

[1, 2, 3, 4, 5, 3, 4, 2, 4, 2]

In [ ]:
l.remove(3)
l

[1, 2, 4, 5, 3, 4, 2, 4, 2]

In [ ]:
l.replace(5,55)

AttributeError: 'list' object has no attribute 'replace'

In [ ]:
class person:

  def __init__(self):
    self.name= "fakhar"
    self.age =20

  def update(self):
    self.age=19

  def show(self):
    print("name: ", self.name)
    print('age: ',self.age)

In [ ]:
com1 = person()
com1.show()

name:  fakhar
age:  20

In [ ]:
com1.update()

In [ ]:
com1.show()

name:  fakhar
age:  19

In [ ]:
com1.age = 20
com1.show()

name:  fakhar
age:  20

In [ ]:
com2 = person()
com2.age=20

In [ ]:
if com1.age == com2.age:
  print('True')

True

In [1]:
import numpy as np

In [2]:
import time

a = np.random.rand(100000)
b = np.random.rand(100000)

tic = time.time()
c = np.dot(a,b)
toc = time.time()

print("time in ms" + str(1000*(toc-tic)))

time in ms0.9789466857910156

##Pattern

In [59]:
j=0
for i in range(11,6,-1):
  print(" "*(i-1),'*',end="")
  #print("i: ",i)
  if(i<11):
    print(" "*j,'*',end="")
    j=j+2
  print()
l=21
for k in range(0,6):
  print(" "*k,'*'*l)
  l-=2
n=13
for m in range(5,0,-1):
  print(" "*(m-1),"*"*n)
  n+=2
d=7
for g in range(6,11,1):
  print(" "*g,"*"," "*(d-1),end="")
  d-=2
  if(g<10):
    print('*')

           *
          * *
         *   *
        *     *
       *       *
 *********************
  *******************
   *****************
    ***************
     *************
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
       *       *
        *     *
         *   *
          * *
           *